# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Virtual environments
# --------------------
venv/
venv310/

# --------------------
# Environment variables (SECURITY)
# --------------------
.env

# --------------------
# Logs
# --------------------
logs/
app/logs/
*.log

# --------------------
# Models & large files
# --------------------
models/
models/*

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Streamlit
# --------------------
.streamlit/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db