# Data Science and Machine Learning Libraries
pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
sentence-transformers
torch
faiss-cpu
tqdm
textdistance

# Streamlit for Web App
streamlit

# Hugging Face Transformers
transformers

# SerpAPI for Google Search
serpapi==0.1.5

# Other Dependencies
flask
requests
gradio
langchain
python-dotenv  # Add this line