pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
sentence-transformers
transformers
torch
faiss-cpu
langchain
tqdm
streamlit
flask
textdistance
serpapi==0.1.5

gradio
streamlit
requests
transformers
torch